Adafruit-Blinka==8.15.2
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-framebuf==1.6.0
adafruit-circuitpython-requests==1.13.0
adafruit-circuitpython-rfm9x==2.2.13
adafruit-circuitpython-ssd1306==2.12.12
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.40.3
Adafruit-PureIO==1.1.10
APScheduler==3.10.1
Flask==1.1.2
lazy-object-proxy==0.0.0
mypy==0.812
mypy-extensions==0.4.3
numpy==1.19.5
requests==2.25.1
requests-oauthlib==1.0.0
responses==0.12.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.0
spidev==3.5
ssh-import-id==5.10
thonny==4.0.1
typing-extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
v4l2-python3==0.3.2
wiringpi==2.60.1

